.pageContent {
  margin: 0px;
  justify-items: center;
}

.probe-container {
  text-align: center;
  padding: 30px;
}

.mapping-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.mapping-header h4 {
  margin: 0;
  font-size: 1em;
}

.mapping-header .ant-btn {
  margin-left: 0px;
}
